<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Lista de usuarios -->
            <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/edit/<%= user.id %>">Editar</a> | 
                    <a href="/delete/<%= user.id %>">Eliminar</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <!-- Botón para agregar usuario -->
    <div class="boton-contenedor">
        <a href="/add">
            <button class="agregar">Agregar Usuario</button>
        </a>
    </div>
</body>
</html>
